<div id="chatContainer">
  <div id="newMessageForm">
    <textarea ng-model="message" id="message" placeholder="Enter your message here:"></textarea>
    <br>
    <button ng-click="buttonClick()" id="postMessageButton">Add Message</button>
  </div>
  <div id="messagesContainer">
    <ul>
      <script type="text/ng-template" id="message.html">
        <p ng-transclude><b><a href='#/users/{{userId}}'>{{ username }}</a></b>:</p>
        <span>- <a class="delete" href="/#delete">DELETE</a></span>
      </script>

      <li class="message" chat-message ng-repeat="message in messages" username="{{message.username}}" user-id="{{message.userId}}">
        <a href="#/chat/{{message.id}}">{{message.message}}</a>
      </li>
    </ul>
  </div>
</div>