<h2>Welcome <%= username %></h2>
<div id="chatContainer">
  <div id="newMessageForm">
    <textarea id="message" placeholder="Enter your message here:"></textarea>
    <button id="postMessageButton">Add Message</button>
  </div>
  <div id="messagesContainer">
    <script type="text/template" id="chatTemplate">
      <p><b>{{ username }}: </b>{{ message }}</p>
    </script>
  </div>
</div>

<!-- Load all of the necessary ChatApp backbone modules -->
<script type="text/javascript" src="/js/app/collections/SailsCollection.js"></script>
<script type="text/javascript" src="/js/app/collections/Messages.js"></script>
<script type="text/javascript" src="/js/app/models/Message.js"></script>
<script type="text/javascript" src="/js/app/views/MessagesView.js"></script>
<script type="text/javascript" src="/js/app/views/MessageView.js"></script>
<script type="text/javascript" src="/js/app/views/ChatView.js"></script>
<script type="text/javascript" src="/js/app/chat.js"></script>