<h2>Welcome <%= username %></h2>
<div id="chatContainer">
  <div id="newMessageForm">
    <textarea id="message" placeholder="Enter your message here:"></textarea>
    <button id="postMessageButton">Add Message</button>
  </div>
  <div id="messagesContainer">
    <script type="text/template" id="messageTemplate">
      <p><b>{{ username }}: </b>{{ message }}</p>
    </script>
  </div>
</div>

<!-- Load all of the necessary ChatApp backbone modules -->
<script type="text/javascript" src="/js/app/chat.js"></script>