<h2>Welcome <%= username %></h2>
<div ng-view>

</div>


<!-- Load all of the necessary ChatApp modules -->
<script type="text/javascript">

	require(['js/require_config'], function(){
		require(['chat'], function(){
			angular.bootstrap(document, ['chatApp']);
		});
	});

</script>