<h2>Welcome <%= username %></h2>
<div id="chatContainer" ng-controller="MessageController">
  <div id="newMessageForm">
    <textarea ng-model="message" id="message" placeholder="Enter your message here:"></textarea>
    <button ng-click="buttonClick()" id="postMessageButton">Add Message</button>
  </div>
  <div id="messagesContainer">
    <ul ng-repeat="message in messages">
      <p><b>{{ message.username }}: </b>{{ message.message }}</p>
    </ul>
  </div>
</div>

<!-- Load all of the necessary ChatApp backbone modules
<script type="text/javascript" src="/js/app/chat.js"></script>
-->