<h1>Code Chat</h1>
<div>
    <h3>Login</h3>
    <input type="text" id="loginName" placeholder="name" />
    <input type="password" id="loginPassword" placeholder="password" />
    <button id="loginButton">Login</button>
</div>
<div>
    <h3>Signup</h3>
    <input type="text" id="signupName" placeholder="name" />
    <input type="password" id="signupPassword" placeholder="password" />
    <input type="password" id="signupConfirmPassword" placeholder="confirm password" />
    <button id="signupButton">Signup</button>
</div>

<script>
    $("#loginButton").click(function(){
        var username = $("#loginName").val();
        var password = $("#loginPassword").val();
        if (username && password) {
            $.post(
                '/login',
                {username: username, password:password},
                function () {
                    window.location = "/chat";
                }
            ).fail(function(res){
                alert("Error: " + res.getResponseHeader("error"));
            });
        } else {
            alert("A username and password is required");
        }
    });

    $("#signupButton").click(function(){
        var username = $("#signupName").val();
        var password = $("#signupPassword").val();
        var confirmPassword = $("#signupConfirmPassword").val();
        if (username && password) {
            if (password === confirmPassword) {
                $.post(
                    '/signup',
                    {username: username, password:password},
                    function () {
                        window.location = "/chat";
                    }
                ).fail(function(res){
                    alert("Error: " + res.getResponseHeader("error"));
                });
            } else {
                alert("Passwords don't match");
            }
        } else {
            alert("A username and password is required");
        }
    });
</script>