<h1>Code Chat</h1>
<div id="login">
    <h3>Login</h3>
    <input type="text" id="loginName" placeholder="name" />
    <input type="password" id="loginPassword" placeholder="password" />
    <button id="loginButton">Login</button>
</div>
<div id="signup">
    <h3>Signup</h3>
    <input type="text" id="signupName" placeholder="name" />
    <input type="password" id="signupPassword" placeholder="password" />
    <input type="password" id="signupConfirmPassword" placeholder="confirm password" />
    <button id="signupButton">Signup</button>
</div>

<!-- Use requirejs to load require conifig file and the necessary modules -->
<script type="text/javascript">
  require(['js/require_config'], function() {
    // Requiring sails.io-amd will also bring in socket.io
    // and add some convenience logic to it.
    require(['sails.io-amd', 'index']);
  });
</script>